**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3

ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Flutter/Release-iphonesimulator.xcconfig
ios/Flutter/Release-iphoneos.xcconfig
ios/Flutter/Release-iphonesimulator-watchos.xcconfig
ios/Flutter/Release-iphoneos-watchos.xcconfig
ios/Flutter/Release-tvos.xcconfig
ios/Flutter/Release-tvos-simulator.xcconfig
ios/Flutter/Release-watchos.xcconfig
ios/Flutter/Release-watchos-simulator.xcconfig
ios/Flutter/project.pbxproj
ios/Flutter/Runner.xcodeproj/project.pbxproj
ios/Flutter/.DS_Store
ios/Flutter/contents.xcworkspacedata